PORT=3000

DATABASE_URL=postgresql://postgres:postgres@db:5432/nest_stripe

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=nest_stripe

STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
