# Dependencies
node_modules/

# Build output
dist/
build/

# Environment files
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Testing
coverage/

/generated/prisma
